# --- Git ---
.git
.gitignore

# --- Node / Vite ---
node_modules
dist
build
.vite
.cache

# --- Logs ---
*.log

# --- Env ---
.env
.env.*
!.env.example

# --- OS junk ---
.DS_Store
Thumbs.db

# --- Editor ---
.vscode
.idea

# --- Go build ---
bin/
out/
*.exe

# --- IMPORTANT: large data ---
api/data
api/data/*