{
	log {
		level warn
		format console
	}
}

localhost, dashboard.localhost {
	handle /api/* {
		reverse_proxy host.docker.internal:8080
	}

	handle_path /fs/* {
		reverse_proxy host.docker.internal:8081
	}

	handle {
		reverse_proxy host.docker.internal:3000
	}
}

cph-collectables.com, www.cph-collectables.com {
	handle /api/* {
		reverse_proxy cph-collectables-api.internal:8080
	}

	handle /fs/* {
		reverse_proxy cph-collectables-fs.internal:8081
	}

	handle {
		root * /srv
		encode zstd gzip
		file_server {
			disable_canonical_uris
		}
	}
}

:80 {
	handle /api/* {
		reverse_proxy cph-collectables-api.internal:8080
	}

	handle_path /fs/* {
		reverse_proxy cph-collectables-fs.internal:8081
	}

	handle {
		root * /srv
		encode zstd gzip
		file_server
	}
}